fastapi
uvicorn
python-multipart
python-dotenv

langchain
langchain-community
langchain-core
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
rank-bm25

huggingface-hub
requests

pypdf
docx2txt